<% layout("/layouts/boilerplate") %> <%- include("../includes/flash.ejs") %>
<div class="max-width mt-3">
    <div>
        <h3>Edit your Listing</h3>
        <form
            method="POST"
            action="/listings/<%= listing._id %>?_method=PUT"
            novalidate
            class="needs-validation"
            enctype="multipart/form-data"
        >
            <div>
                <label for="title" class="form-label">Title</label>
                <input
                    name="listing[title]"
                    value="<%= listing.title %>"
                    type="text"
                    class="form-control"
                    id="title"
                    required
                />

                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Please add a valid title</div>
            </div>

            <div>
                <label for="description" class="form-label">Description</label>
                <textarea
                    name="listing[description]"
                    class="form-control"
                    rows="3"
                    id="description"
                    required
                >
<%= listing.description %></textarea
                >
                <div class="valid-feedback">Description looks good!</div>
                <div class="invalid-feedback">
                    Please enter a short description
                </div>
            </div>
            <br />
            <span class="tags-txt">Tags :</span>
            <span class="dropdown tags-dropdowns">
                <button
                    class="btn btn-light dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Select Tags
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button type="button" class="dropdown-item">
                            Trending
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Rooms
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Iconic Cities
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Mountains
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Castles
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Amazing pools
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Camping
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Farms
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Arctic
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Doms
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item">
                            Boats
                        </button>
                    </li>
                </ul>
            </span>
            <span class="tags-display">
                <% listing.tags.map(tag => tag.trim()).forEach(tag => { %>
                <span class="badge rounded-pill text-bg-danger">
                    <%= tag %>
                    <button
                        type="button"
                        class="btn-close tag-remove-btn"
                        aria-label="Close"
                        onclick="removeTag('<%= tag %>')"
                    ></button>
                </span>
                <% }) %>
            </span>
            <div class="hidden-tags">
                <input
                    type="hidden"
                    name="listing[tags]"
                    id="hidden-tags-inp"
                    value="<%= listing.tags.map(tag => tag.trim()).join(',') %>"
                />
            </div>
            <br />
            <div class="mb-3">
                Original Listing Image <br />
                <img src="<%= originalImageUrl %>" />
            </div>
            <div>
                <label for="image" class="form-label">Upload New Image</label>
                <input
                    name="listing[image][url]"
                    type="file"
                    class="form-control"
                    id="image"
                />
                <div class="invalid-feedback">
                    Please enter a valid image URL
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input
                        name="listing[price]"
                        value="<%= listing.price %>"
                        type="number"
                        class="form-control"
                        id="price"
                        required
                    />

                    <div class="valid-feedback">Price looks good!</div>
                    <div class="invalid-feedback">
                        Please enter a valid price
                    </div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input
                        name="listing[country]"
                        value="<%= listing.country %>"
                        type="text"
                        class="form-control"
                        id="country"
                        required
                    />
                    <div class="valid-feedback">Country looks good!</div>
                    <div class="invalid-feedback">
                        Please enter a valid country
                    </div>
                </div>
            </div>

            <div>
                <label for="location" class="form-label">Location</label>
                <input
                    name="listing[location]"
                    value="<%= listing.location %>"
                    type="text"
                    class="form-control"
                    id="location"
                    required
                />
                <div class="valid-feedback">Location looks good!</div>
                <div class="invalid-feedback">
                    Please enter a valid location
                </div>
            </div>
            <button
                class="btn btn-dark edit-btn mt-3"
                style="margin-bottom: 4rem"
            >
                Edit
            </button>
        </form>
    </div>
</div>

<script>
    function addTag(tag) {
        let tagsInput = document.getElementById("hidden-tags-inp");
        let tagsDisplay = document.querySelector(".tags-display");
        if (tagsInput.value) {
            tagsInput.value += ",";
        }
        tagsInput.value += tag;
        tagsDisplay.innerHTML += `<span class="badge badge-pill badge-primary">${tag}<button type="button" class="close" aria-label="Close" onclick="removeTag('${tag}')"><span aria-hidden="true">&times;</span></button></span>`;
    }

    function removeTag(tag) {
        let tagsInput = document.getElementById("hidden-tags-inp");
        let tags = tagsInput.value.split(",");
        let index = tags.indexOf(tag);
        if (index > -1) {
            tags.splice(index, 1);
        }
        tagsInput.value = tags.join(",");
        event.target.parentNode.remove();
    }
</script>
