<% layout("/layouts/boilerplate") %> <%- include("../includes/flash.ejs") %>

<div class="max-width">
    <h1 style="text-align: center">Edit your profile</h1>
    <div>
        <form
            action="/profile/<%= user._id %>/?_method=PUT"
            method="post"
            class="needs-validation"
            novalidate
            enctype="multipart/form-data"
        >
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                    name="username"
                    id="username"
                    type="text"
                    class="form-control"
                    value="<%= user.username %>"
                    required
                />
                <div class="username-warning">
                    *Users will have to re-login with new username after
                    changing it
                </div>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please add a valid username</div>
            </div>
            <div class="extra-userinfo">
                <div>
                    <div class="mb-3">
                        <label for="firstname" class="form-label"
                            >First Name</label
                        >
                        <input
                            name="firstname"
                            id="firstname"
                            type="text"
                            class="form-control"
                            value="<%= user.firstname %>"
                            required
                        />
                    </div>
                    <div class="mb-4">
                        <label for="lastname" class="form-label"
                            >Last Name</label
                        >
                        <input
                            name="lastname"
                            id="lastname"
                            type="text"
                            class="form-control"
                            value="<%= user.lastname %>"
                            required
                        />
                    </div>
                </div>
                <div class="mb-3">
                    Original Profile Image <br />
                    <img src="<%= originalImageUrl %>" />
                </div>
                <div class="mb-3">
                    <label for="profileImage" class="form-label"
                        >Profile picture</label
                    >
                    <input
                        name="profileImage[url]"
                        id="profileImage"
                        type="file"
                        class="form-control"
                    />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input
                        name="phone"
                        id="phone"
                        type="text"
                        class="form-control"
                        value="<%= user.phone %>"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input
                        name="address"
                        id="address"
                        type="text"
                        class="form-control"
                        value="<%= user.address %>"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input
                        name="city"
                        id="city"
                        type="text"
                        class="form-control"
                        value="<%= user.city %>"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input
                        name="state"
                        id="state"
                        type="text"
                        class="form-control"
                        value="<%= user.state %>"
                        required
                    />
                </div>
            </div>
            <button class="btn btn-success mt-3 mb-5">Edit</button>
        </form>
    </div>
</div>
